/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro&display=swap");

html,
body {
  font-family: Open Sans;
  margin: 0;
  padding: 0;
  // width: 100%;
  background-color: #333;
}
