<div class="main-container">
  <div class="intro-container">
    <h1>Quick Emoji <img src="../assets/images/{{ emoji }}" alt="" /></h1>
    <p>An easy way to insert emojis on mac!</p>
    <p>Faster than <span class="code">ctrl + cmd + space</span> !</p>
  </div>
  <app-app-view></app-app-view>
  <div class="about">
    <p>Toggle the program with a hotkey.</p>
    <p>Search your emoji or choose from your favorites.</p>
    <p>The emoji gets copied to your clipboard.</p>
  </div>
  <a href="https://github.com/oscarheimdahl/quick-emoji/releases">
    <button class="download">Download</button>
  </a>
</div>
<router-outlet></router-outlet>
