.app-view-container {
  // background-color: brown;
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  background-color: transparent;

  img {
    width: 400px;
    // margin: auto 0;
    background-color: transparent;
    animation: floatIn;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    box-shadow: black 4px 4px 4px 4px;
    // transform: rotateX(2deg) rotateY(4deg);
  }
}

@keyframes floatIn {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
