.app-view-container {
  height: 100%;
  float: right;
  display: grid;
  width: 40vw;
  min-width: 400px;

  img {
    width: 400px;
    margin: auto 0;
    animation: floatIn;
    animation-duration: 4s;
    animation-iteration-count: 1;
  }
}

@keyframes floatIn {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
